.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 704px;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 24px 24px 0 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}