.button {
  max-width: 115px;
  min-height: 44px;
  gap: 8px;
  padding: 12px;
  border: 2px solid #5558fa;
  color: #5558fa;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.button_forward {
  height: 44px;
  background-color: #5558fa;
  color: white;
}
