.main {
  width: 900px;
  height: 704px;
  background-color: #ffffff;
  padding: 24px 24px 0 24px;
  border-radius: 24px;
  margin-top: 24px;
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-style: none none solid none;
  margin-bottom: 24px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 24px;
  border-radius: 100px;
  background-color: #d5e4f7;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.controller_wrapper {
  display: grid;
  margin-bottom: 48px;
}

.input {
  width: 100%;
  max-width: 400px;
  height: 44px;
  border: 1px solid #00000029;
  border-radius: 4px;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

.href {
  margin-right: 10px;
}
